version: '1.11'

services:

  bot:
    image: currencybot
    restart: unless-stopped
    command: python bot.py
    container_name: bot
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - logs:/logs

volumes:
  logs:
